name: Publish to PyPI

on:
  release:
    types: [published]

jobs:
  build-n-publish:
    name: Build and publish with Poetry
    runs-on: ubuntu-latest
    
    # Link the GitHub Action to the PyPI 'Pending Publisher'
    environment:
      name: pypi
      url: https://pypi.org/p/lmm-education
    
    permissions:
      id-token: write # Required for Trusted Publishing
      contents: read  # Required to checkout the code

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Install Poetry
      run: |
        curl -sSL https://install.python-poetry.org | python3 -
        echo "$HOME/.local/bin" >> $GITHUB_PATH

    - name: Build package
      run: poetry build

    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1